.amount-100 {
    background-color: rgba(216, 180, 17, 0.4);
}

.amount-200 {
    background-color: rgba(241, 143, 14, 0.4);
}

.amount-300 {
    background-color: rgba(232, 93, 4, 0.4);
}

.amount-400 {
    background-color: rgba(220, 47, 2, 0.4);
}

.amount-500 {
    background-color: rgba(208, 0, 0, 0.4);
}

.amount-600 {
    background-color: rgba(157, 2, 8, 0.4);
}

.amount-700 {
    background-color: rgba(106, 4, 15, 0.4);
}

.amount-800 {
    background-color: rgba(55, 6, 23, 0.4);
}
