body, div, p {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.outer-container {
    background: url('../data/img/clouds.jpg') no-repeat center center fixed;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}


.content-container {
    width: 100%;
    text-align: center;
    padding: 5% 15%;
    padding-top: 35%;
    margin-top: -20%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 60px;
    background-color: #251250;
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.content {
    padding: 100px;
    background-color: var(--couleur-fond);
    text-align: center;
}

.message {
    margin-top: 50px;
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    color: var(--couleur-text);
}

.button {
    padding: 20px 25px 20px 25px;
    background-color: var(--couleur-bleu-beau);
    color: var(--couleur-fond-sombre);
    border: none;
    border-radius: 50px;
    display: block;
    width: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.top-left-button {
    position: absolute;
    top: 50px;
    left: 50px;

}

.back-button {
    padding: 20px 40px 20px 40px;
    background-color: rgba(39, 18, 66, 0.804);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.back-button::before {
    content: '←';
    font-size: 40px;
    margin-right: 5px;
}



/* Styles de base */
body, div, p {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Styles pour les écrans de taille moyenne */
@media (max-width: 1024px) {
    .outer-container {
        flex-direction: column;
    }

    .content-container {
        width: 100%;
        margin-top: 65px;
    }

    .header {
        font-size: 30px;
        padding: 40px;
    }

    .content {
        padding: 40px;
    }

    .message {
        font-size: 25px;
        text-align: left;
        padding-left: 20px;
    }
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
    .outer-container {
        background-size: auto;
    }

    .header {
        font-size: 20px;
        padding: 30px;
        word-break: break-all;
    }

    .content {
        padding: 30px;
    }

    .message {
        font-size: 30px;
        text-align: left;
        padding-left: 20px;
    }

    .back-button {
        padding: 10px 15px 10px 15px;
        background-color: rgba(39, 18, 66, 0.804);
        color: #ffffff;
        border: none;
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        display: flex;
        align-items: center;
    }
}