.footer {
    background-image: url("../data/img/clouds.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 2em; 
}

footer {
    background-color: var(--couleur-fond);
    color: white;
    padding: 5px 0;
    width: 100%;
    bottom: 0; 
}

.blurred-footer {
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
    max-width: 1200px; /* Ajustez la valeur de max-width selon votre mise en page */
    align-items: center;
}

.footer-container {
    margin-right: 0;
    margin-left: 0;
}

.logo-container {
    width: 15%;
    padding: 20px;
}

div.mentions {
    font-size: 20px;
    margin-bottom: 10px;
}

.mentions {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.mentions:hover {
    color: white;
}


@media (max-width: 480px) {
    .logo-container {
        width: 100%;
        padding: 5px;
      }
    
      .flex-sm-column {
        display: flex;
        flex-direction: column;
      }

      .img-fluid {
        max-width: 30%;
        height: auto;
      }
}