::-webkit-scrollbar {
    width: 10px; /* Largeur de la scrollbar */
    
  }

  .btn-deconnexion{
    background-color: var(--couleur-fond-rouge); 
    color: white;
    border: 1px solid var(--couleur-avertissement);
    border-radius: 10px;
    padding: 10px 25px; 
    font-size: 0.9rem;
} 

body{
    padding-top: 50px;
}

.btn-option {
  color: var(--couleur-text);
  border: 1px solid var(--couleur-text);
  background-color: var(--couleur-bouton);
  font-size: 1rem;
}

button:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}

/* button:hover{
  color: var(--couleur-text)!important;
} */

.titres{
  font-size: 2rem;
  font-weight: 550;
}

/* Extension de famille de classe Bootstrap */
.w-35{
  width: 35%;
}

#wrapper{
  color: var(--couleur-text);
}

@media (max-width: 315px){
  p{
      font-size: 0.8rem;
  }

  .col{
      flex-direction: column;
  }

  .btn{
      margin: 20px;
  }
  .titres{
    font-size: 1rem;
  }
}

  @media (max-width: 1050px) {
    body:not(.adminHome){
        height: auto;
    }
  }

  /* adminHome.php responsive */
  @media (max-width: 870px){
    body{
      height: 100vh;
    }

    .form-row{
      flex-direction: column;
      height: 35vh;
    }

    .form-row div{
      width: auto;
    }
  }

  @media (max-width: 380px){
    h1{
      font-size: 1.5rem!important;
    }
  }
