body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-violette);
}

/* Styles CSS pour la section profil */
.profile-section {
    display: flex;
    align-items: center;
    padding-top: 270px;
    margin-left: 20px;
}

.profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    flex-grow: 1;
}

.profile-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 35px;
}

.profile-profession {
    font-size: 14px;
    color: #777;
    margin-right: 35px;
}


.container { 
    color: #fff;
    padding: 20px;
}


.text-light {
    color: #fff;
} 

