body {
    margin: 0;
    padding: 0;
}

#navbar-wrapper .navbar {
  background-color: transparent;
}

.h5, h5 {
  font-size: 0.9rem;
  color: white;
  float: left;
}

.text-light {
    color: #fff;
}

.custom-button {
    background-color: var(--couleur-violet-bouton); 
    color: var(--couleur-text); 
    border: none;
    border-radius: 30px;
    padding: 0px 0px;
    max-width: 12%;
}


  .blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../data/img/wallpaper.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }

  .content-show {
    height: 100vh;
  }

  .content-title {
    font-size: 55px;
    padding-top: 2em;
  }

  .no-margin-bottom {
    margin-bottom: 0 !important;
}

footer{
    margin-top: 0!important;
}

p {
  margin-top: 0;
  margin-top: 3rem;
}

@media screen and (max-width: 1500px) {

  .custom-button {
    background-color: var(--couleur-violet-bouton);
    color: var(--couleur-text);
    border: none;
    border-radius: 30px;
    padding: 0px 15px;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 19%;
    max-width: 25%;
  }

}

@media screen and (max-width: 767px) {

  .col-sm-3 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 51.667%;
  }

}