body {
    margin: 0;
    padding: 0;
}

.h5, h5 {
  font-size: 0.9rem;
  color: white;
  float: left;
}

.text-light {
    color: #fff;
}

.custom-button {
    background-color: var(--couleur-violet-bouton); 
    color: var(--couleur-text); 
    border: none;
    border-radius: 30px;
    padding: 0px 0px;
}


  .blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../data/img/wallpaper.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }

  .content-show {
    height: 100vh;
  }

  .content-title {
    font-size: 55px;
    padding-top: 2em;
  }

  .no-margin-bottom {
    margin-bottom: 0 !important;
}

footer{
    margin-top: 0!important;
}