body {
    margin: 0;
    padding: 0;
}

#navbar-wrapper .navbar {
  background-color: transparent;
}

.h5, h5 {
  font-size: 0.9rem;
  color: white;
}

.text-light {
    color: #fff;
}

.custom-button {
    background-color: var(--couleur-violet-bouton); 
    color: var(--couleur-text); 
    border: none;
    padding: 5px 15px;
    max-width: fit-content;
    margin-top: 0.5rem;
    border-radius: 10px;
}

.img-fluid {
    width: 145px;
    height: auto;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

  .blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../data/img/wallpaper.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }

  .content-show {
    height: 100vh;
  }

  .content-title {
    font-size: 3em;
    padding-top: 1.5em;
  }

  .no-margin-bottom {
    margin-bottom: 0 !important;
}

footer{
    margin-top: 0!important;
}


.bvn{
  font-size: 50px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1500px) {

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 19%;
    max-width: 25%;
  }

}

@media screen and (max-width: 767px) {

  .col-sm-3 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 51.667%;
  }

}