.slide, .date, .btn-export, .nImp {
    background-color: var(--couleur-bleu);
    color: var(--couleur-fond-sombre);
    border: 1px solid var(--couleur-bleu);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 0.8rem;
}

.ct1 {
    padding-left: 1%;
}

.ct2 {
    padding-right: 1%;
}
.slide {
    width: 90%;
    margin-left: 5%;
}

option {
    background-color: var(--couleur-fond);
    color: var(--couleur-text);
}

 .chart {
    display: block;
    width: 90%;
    height: 80%;
    margin-left: 5%;
}

.h3, h3 {
    font-size: 1.75rem;
    margin-left: 5%;
  }

#search-container{
  border: 1px solid var(--couleur-bleu);
  border-radius: 10px;
  padding-bottom: 25px;
}

.form-row > .col, .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5%;
  }

/* #selectDate, #numImp {

} */

#selectDate label,
#selectDate input {
    margin-bottom: 5px;
}

#selectDate input[type="date"] {
    width: 100%;
}

#selectDate .col-auto {
    flex: 0 0 auto;
}

#nImp,
#nSIREN,
#raisonSociale {
    width: 100%;
}

#resetButton,
#searchButton {
    border-radius: 10px;
    margin-left: 0.5em;
}

.row.align-items-center {
    margin-top: 0.5em;
    margin-left: 4%;
}

/* .order-by {
} */

#order-by-container {
    flex-wrap: wrap;
    justify-content: flex-end
}

.text-right {
    text-align: right !important;
  }

nav#pagination-container {
    margin-right: 1em;
}

#pagination-container {
    display: flex;
    justify-content: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    justify-content: space-between;
  }

  button.export-button {
    border-radius: 30px;
    background-color: var(--couleur-bleu);
    color: var(--couleur-fond-sombre);
    padding: 0px 6px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--couleur-bleu);
  }

  select {
    word-wrap: normal;
    border-radius: 15px;
    background-color: var(--couleur-bleu);
    color: var(--couleur-fond-sombre);
    padding: 2px 6px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--couleur-bleu);
    width: 100%;
  }

  button#resetButton {
    border-radius: 15px;
    background-color: var(--couleur-bouton-gris);
    color: var(--couleur-fond-sombre);
    padding: 5px 20px;
    border: none;
    cursor: pointer; 
    border: 1px solid var(--couleur-bouton-gris);

    width: fit-content!important;
  }

  button#searchButton, 
  button.export-pdf-button,
  button.export-button {
    border-radius: 15px;
    background-color: var(--couleur-bleu);
    color: var(--couleur-fond-sombre);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--couleur-bleu);

    width: fit-content!important;
  }

  #choiceDateImp{
    max-width: fit-content;
  }
  #order-by,
  #export-select{
    width: fit-content!important;
    background-color: var(--couleur-bouton-gris);
  }

  .form-row{
    height: inherit!important;
  }

  @media screen and (max-width: 2250px) {
    th{
        font-size: 0.5rem!important;
    }
    
    td{
        font-size: 0.6rem;
    }
    
}

  @media (max-width: 768px) {
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 100%;
    }

    button.export-pdf-button, button#resetButton,
    button#searchButton {
      margin-top: 0px;
    }

    #order-by-container{
      justify-content: center;
    }
  }


  @media (max-width: 480px) {
    .col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 73%;
    }

    .col-sm-1 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 15%;
      }

    .col-sm-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 45%;
    }

    .col-sm-12 {
        max-width: 100%;
      }

    button.export-pdf-button, button#resetButton,
    button#searchButton {
      margin-top: 0px;
    }

    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 60.333%;
      }

  }
  