.red{
    background-color: rgba(255, 0, 0, 0.609)!important;
}

.red:hover {
    background-color: red!important;
}

.detailsRow>td{
    padding : 0px;
}

.detailsRow:hover{
    background-color:inherit!important;
}

.detailsRow table{
    width:90%;
    margin : 20px auto;

}

.hidden {
    display: none;
}

#resetButton, 
#searchButton,
#export-select,
#export-button{
    background-color: var(--couleur-violet-bouton);
    color: var(--couleur-fond-sombre);
    border: 1px solid var(--couleur-violet-bouton);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#search-container {
    border: 1px solid var(--couleur-violet-bouton);
    border-radius: 10px;
    padding-bottom: 25px;
  }

.nRemise {
    background-color: var(--couleur-violet-bouton);
    color: var(--couleur-fond-sombre);
    border: 1px solid var(--couleur-violet-bouton);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 0.8rem;
    width: 100%;
  }


button#resetButton, button#searchButton {
    border-radius: 15px;
    background-color: var(--couleur-violet-bouton);
    color: var(--couleur-fond-sombre);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--couleur-violet-bouton);
    margin-left: 0;
    margin-right: 5%;
  }