.red{
    background-color: rgba(255, 0, 0, 0.609)!important;
}

.red:hover {
    background-color: red!important;
}

.detailsRow>td{
    padding : 0px;
}

.detailsRow:hover{
    background-color:inherit!important;
}

.detailsRow table{
    width:90%;
    margin : 20px auto;

}

.hidden {
    display: none;
}

#search-container {
    border: 3px solid var(--couleur-bleu);
    border-radius: 10px;
    padding-bottom: 80px;
  }

.nRemise {
    background-color: var(--couleur-bleu);
    color: var(--couleur-fond-sombre);
    border: 1px solid var(--couleur-bleu);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 0.8rem;
    width: 100%;
  }

  button#resetButton, #export-select {
    border-radius: 15px;
    background-color: #d1d1d1;
    color: var(--couleur-fond-sombre);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid #d1d1d1;
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 button#searchButton, #export-button {
    border-radius: 15px;
    background-color: var(--couleur-bleu);
    color: var(--couleur-text);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--couleur-bleu);
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }



  .ml-5, .mx-5 {
    margin-left: 3rem !important;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 1380px) {
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 100%;
    }

    button.export-pdf-button, button#resetButton,
    button#searchButton {
      margin-top: 0px;
    }

    .row {
        margin-top: 3em;
      }

      .clm {
        flex-direction: column !important;
      }

      #search-container {
        border: 1px solid var(--couleur-bleu);
        border-radius: 10px;
        padding-bottom: 270px;
        margin-top: 1em;
      }

      .col-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 48.667%;
      }

  }


  @media (max-width: 768px) {
    
    button.export-pdf-button, button#resetButton, button#searchButton {
        margin-top: 20px;
      }

      .clm {
        flex-direction: column !important;
      }

      .ml-4, .mx-4 {
        margin-left: 0rem !important;
      }

      .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 70%;
      }

      .col-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 92%;
      }

      .m2 {
        margin-bottom: 0.5rem !important;
      }
  }