table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 90%;
  table-layout: fixed;
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 5%;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  border: 2px solid var(--couleur-fond-sombre);
  padding: 0.35em !important;
}


/* .positive-amount {
  color: green;
} */

.negative-amount {
    color: red;
}

#pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.pagination-button {
  list-style: none;
  margin: 0 6px;
  padding: 0px 12px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--couleur-violet-bouton);
}

.pagination-button:hover {
  background-color: var(--couleur-violet-bouton);
}

/* Style spécifique pour les flèches */
.pagination-arrow {
  font-size: 15px;
  color: white;
}


.item-selecteur {
  list-style: none;
  margin: 0 6px;
  padding: 6px 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--couleur-violet-bouton);
  color: var(--couleur-fond-sombre); 
}

.item-selecteur:hover {
  background-color: var(--couleur-violet-bouton);
}

#order-by {
  width: 11em;
}



table th,
table td {
  padding: 1.625em;
  text-align: center;
  color: var(--couleur-text);
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--couleur-hover);
  color: var(--couleur-text);
  padding: 2.5em 0 2.5em 0;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
}

.page-item {
  background-color: var(--couleur-bouton);
}

.page-link {
  color: var(--couleur-text);
  background: none;
}

.activePage {
  background-color: var(--couleur-text-violet);
  color: var(--couleur-hover);
}



@media screen and (max-width: 1500px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
