table {
  border-collapse: collapse;
  margin: auto;
  padding: 0;
  width: 95%;
  table-layout: fixed;
  background-color: rgba(255, 255, 255, 0.05);
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  border: 2px solid rgba(69, 92, 116, 0.66);
  padding: 0.35em !important;
  background-color: rgba(79, 101, 124, 0.66);
}


/* .positive-amount {
  color: green;
} */

.negative-amount {
    color: red;
}


#pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.pagination-button {
  list-style: none;
  margin: 0 6px;
  padding: 0px 12px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--couleur-bleu);
}

.pagination-button:hover {
  background-color: var(--couleur-bleu);
}

/* Style spécifique pour les flèches */
.pagination-arrow {
  font-size: 15px;
  color: white;
}


.item-selecteur {
  list-style: none;
  padding: 6px 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  color: black; 
}

.item-selecteur:hover {
  background-color: white;
}

table th,
table td {
  padding: 1em;
  text-align: center;
  color: var(--couleur-text);
  font-size: 0.8em;
}


table th {
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--couleur-bleu);
  color: var(--couleur-text);
  padding: 1.5em 0 1.5em 0;
}

tr:hover {
  background-color: rgba(98, 125, 152, 0.5) !important;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
}

.page-item {
  background-color: var(--couleur-bouton);
}

.page-link {
  color: var(--couleur-text);
  background: none;
}

.activePage {
  background-color: var(--couleur-text-violet);
  color: var(--couleur-hover);
}

#items-per-page{
  width: fit-content;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  color: white;
}

.pagination-dots{
  color: var(--couleur-text);
  padding: 0 5px;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pagination-dots:hover {
  animation: pulse 1s infinite;
  animation-duration: 2s;
}

@media screen and (max-width: 1200px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
