

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-color: pink;
}

.profilepic{
    transform: translateY(-80px)    ;
}

.profile-title{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    transform: translateY(-60px);
}

.btn{
    margin: 0 10px;
}

.btn-modifier{
    background-color: var(--couleur-violet-bg); 
    color: var(--couleur-text);
    border: 1px solid var(--couleur-text);
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 0.9rem;
}

.btn-deconnexion{
    background-color: var(--couleur-fond-rouge); 
    color: var(--couleur-avertissement);
    border: 1px solid var(--couleur-avertissement);
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 0.9rem;
}

.banner{
    background: url(../data/img/clouds.jpg) no-repeat center center/cover;
}

.infos p{
    color:var(--couleur-text)
}

.infos{
    background-color: rgba(255, 255, 255, 0.05);
    padding-top: 3%;
    margin-bottom: 2%;
}

.titres{
    font-size: 1.3rem;
    font-weight: 550;
}

.information>p{
    margin-left: 3%;
}

.titres-2{
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0.5;
    font-style: italic;
    margin-bottom: 0;
}


/*
.infos>div:hover{
    border: 1px solid var(--couleur-text);
    border-radius: 10px;    
}*/

button:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

button:hover>a{
    color: var(--couleur-text)!important;
}

/* CODE POUR LA CARTE BANCAIRE*/
.card-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30%;
}

.card {
    position: relative;
    height: 270px;
    width: 450px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.logo img, .chip img, .number, .name, .from, .to, .ring {
    position: absolute;
}

.logo img {
    top: 35px;
    right: 40px;
    width: 80px;
    height: auto;
    opacity: 0.8;
}

.chip img {
    top: 120px;
    left: 40px;
    width: 50px;
    height: auto;
    opacity: 0.8;
}

.number,
.name,
.from,
.to {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.number {
    left: 40px;
    bottom: 65px;
    font-family: "Nunito", sans-serif;
}

.name {
    font-size: 0.5rem;
    left: 40px;
    bottom: 35px;
}

.from {
    font-size: 0.5rem;
    bottom: 35px;
    right: 110px;
}

.to {
    font-size: 0.5rem;
    bottom: 35px;
    right: 40px;
}

/*
    CSS Pour la fenêtre ouvrante
*/
.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: absolute;
    top: 20%;
    left: 20%;
    margin: 50px auto;
    border: 1px solid #999;
    width: 60%;
    background-color: var(--couleur-bouton);
    
  }

  .modal-content div{
    color: var(--couleur-text);
    text-align: center;
    font-size: 1.5rem;
  }

  .modal-content>div>div,
  .option{
    padding : 5%;
  }

  .option:hover{
    background-color: rgba(255, 255, 255, 0.1);
  }

  .close{
    color: var(--couleur-text);
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }

@media (max-width: 767px) {

    .card-group > .card {
        margin-top: 75%;
      }

      .card {
        position: relative;
        height: 270px;
        width: 300px;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(30px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
        overflow: hidden;
      }

      .chip{
        display: none;
      }

      .modal-content{
        background-color: var(--couleur-hover);
      }

      .modal-content div{
        font-size: 1rem;
      }
      .option{
        background-color: rgba(0, 0, 0, 0.2);
      }
}

@media (max-width: 315px){
    p{
        font-size: 0.8rem;
    }

    .col{
        flex-direction: column;
    }

    .btn{
        margin: 20px;
    }
}