body {
    background-image: url('../data/img/imgachangersvp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-fond-violet-transparent);
    border-radius: 15px;
    padding: 25px;
    width: 60%;
    height: 58%;
}

.left-content,
.right-content {
    text-align: center;
    color: var(--couleur-text-blanc);
    flex: 1;
    margin: 10px;
}

.left-content img {
    max-width: 200px;
    margin-top: 30px;
}

.right-content {
    display: flex;
    flex-direction: column;
}

.right-top {
    text-align: center;
    color: var(--couleur-text-blanc);
    margin-bottom: 10px;
    font-size: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input {
    width: 70%;
    padding: 10px;
    border: 1px solid var(--couleur-bouton-violet);
    border-radius: 70px;
    background-color: var(--couleur-bouton-violet);
    color: var(--couleur-text-blanc);
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid var(--couleur-bouton-violet);
    border-radius: 70px;
    background-color: var(--couleur-bouton-violet);
    color: var(--couleur-text-blanc);
}

.form-group .password-input {
    position: relative;
}


.form-group .password-input .eye-icon {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.form-group .password-input .eye-icon.active {
    color: var(--couleur-text-blanc);
}


.button-login {
    background-color: transparent;
    border: 2px solid var(--couleur-text-blanc);
    color: var(--couleur-text-blanc);
    border-radius: 30px;
    padding: 6px 20px;
    cursor: pointer;
    position: absolute; 
    left: 54.5%;
    top: 68%;
}

.button-reset {
    background-color: transparent;
    border: 2px solid var(--couleur-text-blanc);
    color: var(--couleur-text-blanc);
    border-radius: 30px;
    padding: 6px 20px;
    cursor: pointer;
    position: absolute; 
    left: 67%;
    top: 68%;
}

.button-register {
    background-color: var(--couleur-bouton-violet);
    border: 2px solid var(--couleur-bouton-violet);
    color: var(--couleur-text-blanc);
    border-radius: 30px;
    padding: 6px 20px;
    cursor: pointer;
    position: absolute; 
    left: 32%;
    top: 72%;
}

.rounded-button:hover {
    background-color: var(--couleur-text-blanc);
    color: var(--couleur-violette);
}

.avertissement{
    background-color: var(--couleur-rouge);
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}


/* Media Query pour les écrans moyens */
@media (max-width: 992px) {
    .center-box {
        width: 80%;
        flex-direction: column;
        height: 80%;
        padding: 15px;
    }

    .left-content,
    .right-content {
        width: 100%;
        text-align: center;
    }


    .form-group .password-input .eye-icon {
        position: absolute;
        top: 50%;
        right: 110px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
      }

    .right-top {
        text-align: center;
        color: var(--couleur-text-blanc);
        margin-bottom: 45px;
        font-size: 20px;
      }

    .form-group {
    margin-bottom: 40px;
    position: relative;
    }

    .form-group input {
        width: 100%;
    }

    .button-register {
        left: 50%;
        transform: translateX(-50%);
        top: 42%;
    }

    .button-login {
        left: 50%;
        transform: translateX(-50%);
        top: 80%;
    }

    .button-reset {
        left: 50%;
        transform: translateX(-50%);
        top: 85%;
    }
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
    .center-box {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 35px;
    }

    .right-top {
        text-align: center;
        color: var(--couleur-text-blanc);
        font-size: 20px;
        margin: 10px;
      }

    .left-content,
    .right-content {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .form-group input {
        width: 100%;
    }

    .button-login {
        left: 50%;
        transform: translateX(-50%);
        top: 93%;
    }

    .button-reset {
        left: 50%;
        transform: translateX(-50%);
        top: 99%;
    }

    .button-register{
    left: 50%;
    transform: translateX(-50%);
    top: 46%;
    }

}