* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('../data/img/imgachangersvp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-fond-violet-transparent);
    border-radius: 15px;
    padding: 25px;
    width: 67%;
    height: 70%;
  }
  
  .left-content,
  .right-content {
    text-align: center;
    color: var(--couleur-text-blanc);
    flex: 1;
    margin: 10px;
  }
  
  .left-content img {
    max-width: 220px;
    margin-top: 15px;
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .right-top {
    text-align: center;
    color: var(--couleur-text-blanc);
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  p {
    margin-top: 20px;
    margin-bottom: 1rem;
    font-size: 18px;
  }

  .mt-5, .my-5 {
    margin-top: 2rem !important;
  }

  .h4, h4 {
    font-size: 1.5rem;
    padding-top: 15px;
    margin-bottom: 25px;
  }

  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .form-group input {
    width: 100%; 
    padding: 10px;
    border: 1px solid var(--couleur-bouton-violet);
    border-radius: 30px;
    background-color: var(--couleur-bouton-violet);
    color: var(--couleur-text-blanc);
  }
  
  .form-group .password-input {
    position: relative;
  }
  
  .form-group .password-input .eye-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .form-group .password-input .eye-icon.active {
    color: var(--couleur-text-blanc);
  }
  
  .login-form {
    margin-top: 60px;
    text-align: center;
  }
  

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  
  .button-login,
  .button-reset {
    background-color: transparent;
    border: 2px solid var(--couleur-text-blanc);
    color: var(--couleur-text-blanc);
    border-radius: 30px;
    padding: 7px 15px;
    cursor: pointer;
    margin: 2px;
  }
  
  .button-register {
    background-color: var(--couleur-bouton-violet);
    color: var(--couleur-text-blanc);
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  .button-reset {
    background-color: transparent;
  }
  
  .button-login:hover,
  .button-reset:hover,
  .button-register:hover {
    background-color: var(--couleur-text-blanc);
    color: var(--couleur-violette);
  }
  
  .avertissement {
    background-color: var(--couleur-rouge);
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
  }
  

  @media (min-width: 768px) and (max-width: 992px) {
    .center-box {
        width: 80%;
        height: 96%;
    }

    .left-content, .right-content {
        text-align: center;
        color: var(--couleur-text-blanc);
        flex: 1;
        margin: 50px;
      }
}

@media (max-width: 767px) {
    .center-box {
        width: 100%;
        height: auto;
        padding: 35px;
    }

    .left-content {
        text-align: center;
        color: var(--couleur-text-blanc);
        flex: 1;
        margin-top: 80px;
      }

      .right-content {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
      }

      .left-content img {
        max-width: 150px;
        margin-top: -10px;
      }

      .login-form {
        text-align: center;
        margin-bottom: 75px;
      }

      .h1, h1 {
        font-size: 30px;
      }

      p {
        margin-bottom: 1rem;
        font-size: 18px;
      }

      .button-login, .button-reset {
        background-color: transparent;
        border: 2px solid var(--couleur-text-blanc);
        color: var(--couleur-text-blanc);
        border-radius: 30px;
        padding: 3px 15px;
        cursor: pointer;
        margin: 3px;
    }
}